* {
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    font-family: "Open sans";
}

#container {
    max-width: 500px;
    /*max-height: 103px;*/
    margin: 125px auto 0 auto;
}

#artist {
    display: grid;
    grid-template-columns: 30px 70px 1fr 70px;
    grid-template-rows: 60px 48px;
}

/************Div1*************/

#div1 {
    background-color: #E0E0E0;
}

.number {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
}

.arrowUp {
    width: 26px;
    height: 23px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
}

/***********END**************/


/************Div2*************/

#div2 {
    background-color: #f2f2f2;
      }

.drakeImage {
    width: 50px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    }

/***********END**************/


/************Div3*************/

#div3 {
    background-color: #f2f2f2;
    font-family: 'Raleway', sans-serif;
    padding-top: 4px;
}

.songTitle {
    font-size: 17px;
    font-family: "Open sans";
}

.artistName {
    font-size: 14px;
    font-family: "Open sans";
    color: #2F80ED;
}

/***********END**************/


/************Div4*************/

#div4 {
    background-color: #C4C4C4;
}

.arrowCaret {
    width: 30px;
    height: 30px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    background-image: url("arrow-caret4.png");
    background-repeat: no-repeat;
    background-position: left top;
}

/***********END**************/


/************Div5*************/

#div5 {
    background-color: #E0E0E0 /*#C4C4C4*/;

}

/***********END**************/


/************Div6*************/

#div6 {
    background-color: #E0E0E0 /*#C4C4C4*/;

}

/***********END**************/


/************Div7*************/

#div7 {
    background-color: #E0E0E0 /*#C4C4C4*/;
    /*border: 2px solid slateblue;*/
    display: grid;
    /*grid-column: span 2;
    grid-template-columns: 97px, 148px, 148px;*/
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-gap: 5px;*/
    justify-content: center;
    align-items: center;
}

.lastWeek, .peakPosition, .weeksOnChart {
    font-family: "Open sans";
    font-weight: 600;
    font-size: 10px;
    text-align: center;
    justify-self: center;
}

.lastWeek {
    width: 50px;
}

.peakPosition, .weeksOnChart {
    width: 70px;
}

.num {
    font-weight: bold;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.text {
    border-bottom: 0.5px solid #828282;
}

/***********END**************/


/************Div8*************/

#div8 {
    background-color: #E0E0E0 /*#C4C4C4*/;
}

/***********END**************/



@media (max-width: 500px) {
    #container {
        max-width: 450px;
    }

    #artist {
        grid-template-columns: 25px 65px 1fr 65px;
        grid-template-rows: 55px 42px;
    }

    /*******Div1*******/

    .number {
        font-size: 18px;
        margin-top: 4px;
    }

    .arrowUp {
        width: 24px;
        height: 21px;
        margin-top: 2px;
    }

    /*******END*******/


    /*******Div2*******/

    .drakeImage {
        width: 40px;
        height: 40px;
        margin-top: 7.5px;
    }

    /*******END*******/


    /*******Div3*******/

    .songTitle {
        font-size: 14px;
    }

    .artistName {
        font-size: 11px;
    }


    /*******END*******/



    /*******Div4*******/

    .arrowCaret {
        height: 27px;
        width: 27px;
        background-image: url('./arrow-caret5.png');
        margin-top: 14px;
    }

    /*******END*******/

    
    /*******Div7*******/

    .peakPosition, .weeksOnChart {
        font-size: 8px;
    }

    .lastWeek {
        width: 70px;
        font-size: 8px;
    }

    .num {
        font-size: 10px;
    }

    /*.text {
        font-size: 14px;
    }*/

    /*******END*******/

}
