* {
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    vertical-align: baseline;
    font-size: 100%
}

#container {
    width: 1000px;
    margin-top: 125px;
    margin-left: auto;
    margin-right: auto;
}

#content {
    display: grid;
    grid-template-columns: 47px 65px 1fr 72px 72px;
    grid-template-rows: 60px 60px;
}

#emptyDiv2, #emptyDiv3, #peakPositionDiv, #weeksOnChartDiv {
    border-bottom: 1px solid #ADACAC;
}

.peakPosition, .weeksOnChart {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

.peakPosition {
    margin-top: 19px;
}

#fromWhatDiv, #songArtistNameDiv, #peakPositionNumberDiv, #weeksOnChartNumberDiv {
    border-bottom: 1px solid #E5D8D8;
}

#currentPositionNumberDiv, #fromWhatDiv, #songArtistNameDiv, #peakPositionNumberDiv, #weeksOnChartNumberDiv {
    font-family: 'Montserrat', sans-serif;
}

.currentPositionNumber {
    font-size: 18px;
}

.arrowImage {
    width: 10px;
    height: 10px;
}

.fromWhat {
    display: inline-block;
    font-size: 12px;
}

.songName {
    font-weight: 600;
    color: #47AA4D;
}

.artistName {
    font-size: 12px;
    color: #8C8C8C;
}

#currentPositionNumberDiv, #fromWhatDiv, #peakPositionNumberDiv, #weeksOnChartNumberDiv {
    text-align: center;
}

#songArtistNameDiv {
    padding-top: 11px;
}

#peakPositionNumberDiv, #weeksOnChartNumberDiv {
    padding-top: 20.5px;
}

#currentPositionNumberDivDiv {
    width: 38px;
    height: 38px;
    border: 1px solid #EBEBEB;
    border-radius: 100%;
    /*margin-left: auto;
    margin-right: auto;*/
    background-color: #47AA4D;
    /*margin-top: 11px;*/
}

.currentPositionNumber {
    padding-top: 9px;
}

#fromWhatDivDiv {
    width: 38px;
    height: 38px;
    /*border: 1px solid #EBEBEB;*/
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #EBEBEB;
    margin-top: 11px;
}

.fromWhat {
    padding-top: 12.5px;
}

#currentPositionNumberDiv {
    background-color: #EBEBEB;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    height: 38px;
    width: 70px;
    margin-left: 5px;
    margin-top: 11px;
}

@media (max-width: 600px) {
    #container {
        width: 500px;
    }
}

@media (max-width: 400px) {
    #container {
        width: 350px;
    }

    #content {
        grid-template-columns: 35px 53px 1fr 60px 60px;
        grid-template-rows: 50px 50px;
    }

    .peakPosition, .weeksOnChart {
        font-size: 14px;
        width: 40px;
    }

    .peakPosition {
        margin-top: 17px;
    }

    .currentPositionNumber {
        font-size: 16px;
    }

    .fromWhat {
        font-size: 10px;
    }

    .arrowImage {
        width: 8px;
        height: 8px;
    }

    .songName {
        font-size: 14px;
    }

    .artistName {
        font-size: 10px;
    }

    #songArtistNameDiv {
        padding-top: 3px;
    }

    .peakPositionNumber, .weeksOnChartNumber {
        font-size: 14px;
    }

    #peakPositionNumberDiv, #weeksOnChartNumberDiv {
        padding-top: 16px;
    }

    #currentPositionNumberDivDiv, #fromWhatDivDiv {
        width: 32px;
        height: 32px;
    }

    #currentPositionNumberDiv {
        height: 32px;
        width: 58px;
        margin-top: 9px;
    }

    #fromWhatDivDiv {
        margin-top: 9px;
    }

    .fromWhat {
        padding-top: 10px;
    }

    .currentPositionNumber {
        padding-top: 6.5px;
    }
}